# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# PyCharm
.idea/
*.iml
*.iws

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional if you want to ignore)
# */migrations/*
# !*/migrations/__init__.py

# Node (if frontend used)
node_modules/

# Temporary files
*.swp
*.swo

# ML Models and pickles
*.pkl
*.pickles

# Face images
cropped_faces/

# User data
myapp/extracted_details.txt
